/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-font {
    font-family: "Manrope", sans-serif;
}

/* variable decleration */
:root{
    --primary-color: #1c1c1c;
    --dark-1: #777777;
}

/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}
.link-style{
    text-decoration: none;
    color: white;
}
.primary-btn{
    background: linear-gradient(to right,#ff8235,#ff240f);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}
.dark-1{
    color: #777777;
}
/* hero image section styles start here */
.hero-section{
    margin: 20px 80px;
    align-items: center;
    gap: 20px;
}
.hero-content{
    max-width: 500px;
}
.hero-content .title{
    font-size: 60px;
    font-weight: 800;
    color: var(--primary-color);
}
.hero-content .description{
    color: var(--dark-1);
    margin: 20px 0px;
}
.hero-image{
    position: relative;
    max-width: 650px;
}
.hero-image img{
    position: relative;
    width: 100%;
    z-index: 1;
}
.hero-btn i{
    color: white;
    transform: rotate(45deg);   
}
.hero-card{
    position: absolute;
    left: 50px;
    bottom: 30px;
    z-index: 2;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 4px 20px rgb(196, 195, 195);
    max-width: 250px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
}
.hero-card p{
    color: var(--dark-1);
}
.hero-card i{
    color: #ff8235;
}
/* feature section styles start here */
.feature-section{
    margin: 70px 80px;
}
.feature-content{
    margin: 40px auto;
    text-align: center;
    max-width: 800px;
}
.feature-content .title{
    font-size: 45px;
    font-weight: 800;
    color: var(--primary-color);
}
.feature-content .description{
    color: var(--dark-1);
    margin: 20px 0px;
}
.feature-cards{
    gap: 20px;
}
.feature-card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    background: linear-gradient(to top,#fff,#ddd6d6);
    border-radius: 10px;
    padding: 20px 25px;
}
.feature-card-image{
    max-width: 140px;
}
.feature-card-image img{
    width: 100%;
}
.feature-card-content{
    margin-top: 20px;
    text-align: center;
}
.feature-card-title{
    font-size: 25px;
    font-weight: 800;
}
.feature-card-content p{
    color: var(--dark-1);
    margin-top: 10px;
}
/* great-tea section start here */
.great-tea-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 70px 80px;
    gap: 30px;
    align-items: center;
}
.great-tea-left, .great-tea-right{
    width: 45%;
}
.blank-div-1{
    background-color: #ffe9e7;
    width: 100%;
    height: 135px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.blank-div-2{
    background:linear-gradient(to left,#fff,#aaa3a3);
    width: 100%;
    height: 135px;
    border-radius: 10px;
    margin-top: 20px;
}
.great-tea-images{
    gap: 30px;
    
}
.great-tea-image{
    width: 100%;
    height: 340px;
    padding: 30px 20px;
    border-radius: 10px;
}
.great-tea-1{
    background-color: #eef1eb;
}
.great-tea-2{
    background-color: #fcf6e9;
}
.great-tea-image img{
    width: 100%;
    height: 100%;
}
.great-tea-content{
    max-width: 580px;
}
.great-tea-content .title{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}
.great-tea-content .sub-title{
    font-size: 20px;
    font-weight: 800;
    margin: 15px 0px;
}
.great-tea-content .description{
    color: var(--dark-1);
}
/* our-client section styles start here */
.our-client-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 70px 80px;
    background: linear-gradient(to right,#ff8235,#ff240f);
    padding: 60px 50px;
    border-radius: 10px;
    gap: 20px;
}
.our-client-content{
    color: white;
    position: relative;
    padding: 50px 0px;
}
.our-client-content .title{
    font-size: 45px;
    font-weight: 800;
}
.our-client-content .description{
    opacity: 80%;
    margin: 30px 0px;
}
.our-client-btn{
    background: white;
}
.our-client-btn a{
    color: #ff240f;
}
.bg-cup-image{
    position: absolute;
    left: 120px;
    bottom: -40px;
    max-width: 325px;
    height: 270px;
}
.bg-cup-image img{
    width: 100%;
    height: 100%;
}
.our-client-cards{
    position: relative;
}
.our-client-card{
    background: white;
    padding: 30px 40px;
    max-width: 370px ;
    border-radius: 10px;
}
.client-card-1, .client-card-2{
    margin-left: 90px;
    opacity: 40%;
}
.client-card-2{
    margin-top: 40px;
}
.client-card-3{
    position: absolute;
    top: 120px;
    left: 0px;
}
.circle-image{
    position: absolute;
    right: -10px;
    bottom: -10px;
}
.our-card-div{
    position: relative;
}
.our-card-image{
    position: absolute;
    top: -70px;
    left: -50px;
}
.our-card-description{
    color: var(--dark-1);
    margin: 15px 0px;
}
/* Event section styles start here */
.event-section{
    margin: 60px 80px;
}
.event-content{
    margin: 30px auto;
    text-align: center;
    max-width: 800px;
}
.event-content .title{
    font-size: 45px;
    font-weight: 800;
}
.event-content .description{
    color: var(--dark-1);
    margin: 20px 0px;
}
.event-card{
    max-width: 340px;
    padding: 20px;
    border: 1px solid #b8a5a5;
    border-radius: 10px;
}
.event-card-image{
    max-width: 300px;
}
.event-card-image img{
    width: 100%;
}
.event-card-container{
    gap: 20px;
}
.event-card-content{
    margin: 20px 0px 0px 10px;
    flex-direction: column;
    gap: 10px;
}
.event-card-content .title{
    font-size: 20px;
    font-weight: 800;
}
.event-card-content a{
    color: #1c1c1c;
    font-weight: 700;
}
/* footer section styles start here */
.footer-section{
    background-color: #ffefe9;
    padding: 50px 80px;
}
.footer-top{
    justify-content: space-between;
    align-items: center;
}
.footer-button{
    align-items: center;
    gap: 30px;
}
.footer-bottom{
    justify-content: space-between;
    padding: 40px 0px;
}
.footer-link h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-bottom ul{
    list-style: none;
}
.footer-bottom ul li{
    margin-bottom: 10px;
}
.footer-bottom ul li a{
    text-decoration: none;
    color: var(--dark-1);
}
.footer-link .angle-right{
    background-color: #ff240f;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.footer-link input{
    border: none;
    background-color: #ffefe9;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    max-width: 250px;
    margin-bottom: 20px;
}
.footer-link .social-link{
    gap: 20px;
    font-size: 32px;
}
.copy-right{
    text-align: center;
    color: var(--dark-1);
}

/* responsive styles for mobile device */
@media screen and (max-width:576px) {

/* hero image section styles start here */
.hero-section{
    margin: 20px;
    flex-direction: column;
} 
.hero-content .title{
    font-size: 44px;
    font-weight: 900;
}
.hero-card{
    bottom: 10px;
}
/* feature section styles start here */
.feature-section{
    margin: 20px;
}
.feature-content{
    text-align: left;
}
.feature-content .title{
    font-size: 32px;
    font-weight: 900;
}
.feature-cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* great-tea section start here */
.great-tea-section{
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
    gap: 40px;
    align-items: center;
}
/* our-client section styles start here */
.our-client-section{
    grid-template-columns: repeat(1,1fr);
    margin: 20px;
    padding: 60px 20px;
}
.our-client-card{
    width: 250px;
}
.our-card-description{
    margin-bottom: 50px;
}
/* Event section styles start here */
.event-section{
    margin: 20px;
}
.event-card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* footer section styles start here */
.footer-section{
    margin-top: 40px;
    padding: 40px 20px 0px 20px;
}
.footer-bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.footer-button{
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    margin-right: 10px;
}
.footer-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}
.footer-link .angle-right{
    margin-left: -10px;
}
    
}

/* responsive styles for medium device */
@media screen and (min-width:577px) and (max-width:992px) {

/* hero image section styles start here */
.hero-section{
    margin: 50px;
    flex-direction: column;
}
/* feature section styles start here */
.feature-section{
    margin: 50px;
}
.feature-content{
    text-align: left;
}
.feature-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
/* great-tea section start here */
.great-tea-section{
    display: flex;
    flex-direction: column-reverse;
    margin: 50px;
    gap: 40px;
    align-items: center;
}
/* our-client section styles start here */
.our-client-section{
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 60px 20px;
}
/* footer section styles start here */
.footer-section{
    margin-top: 40px;
    padding: 40px 50px 0px 50px;
}
.footer-bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
/* Event section styles start here */
.event-section{
    margin: 50px;
}
.event-card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
        
}