/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-font {
    font-family: "Manrope", sans-serif;
}

/* variable decleration */
:root{
    --primary-color: #1c1c1c;
    --dark-1: #777777;
}

/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}
.link-style{
    text-decoration: none;
    color: white;
}
.primary-btn{
    background: linear-gradient(to right,#ff8235,#ff240f);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}
/* hero image section styles start here */
.hero-section{
    margin: 20px 80px;
    align-items: center;
    gap: 20px;
}
.hero-content{
    max-width: 500px;
}
.hero-content .title{
    font-size: 60px;
    font-weight: 800;
    color: var(--primary-color);
}
.hero-content .description{
    color: var(--dark-1);
    margin: 20px 0px;
}
.hero-image{
    position: relative;
    max-width: 650px;
}
.hero-image img{
    position: relative;
    width: 100%;
    z-index: 1;
}
.hero-btn i{
    color: white;
    transform: rotate(45deg);   
}
.hero-card{
    position: absolute;
    left: 50px;
    bottom: 30px;
    z-index: 2;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 4px 20px rgb(196, 195, 195);
    max-width: 250px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
}
.hero-card p{
    color: var(--dark-1);
}
.hero-card i{
    color: #ff8235;
}
/* feature section styles start here */
.feature-section{
    margin: 40px 80px;
}
.feature-content{
    margin: 40px auto;
    text-align: center;
    max-width: 800px;
}
.feature-content .title{
    font-size: 45px;
    font-weight: 800;
    color: var(--primary-color);
}
.feature-content .description{
    color: var(--dark-1);
    margin: 20px 0px;
}
.feature-cards{
    gap: 20px;
}
.feature-card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    background: linear-gradient(to top,#fff,#ddd6d6);
    border-radius: 10px;
    padding: 20px 25px;
}
.feature-card-image{
    max-width: 140px;
}
.feature-card-image img{
    width: 100%;
}
.feature-card-content{
    margin-top: 20px;
    text-align: center;
}
.feature-card-title{
    font-size: 25px;
    font-weight: 800;
}
.feature-card-content p{
    color: var(--dark-1);
    margin-top: 10px;
}
/* great-tea section start here */
.great-tea-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 40px 80px;
    gap: 30px;
    align-items: center;
}
.great-tea-left, .great-tea-right{
    width: 45%;
}
.blank-div-1{
    background-color: #ffe9e7;
    width: 100%;
    height: 135px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.blank-div-2{
    background:linear-gradient(to left,#fff,#aaa3a3);
    width: 100%;
    height: 135px;
    border-radius: 10px;
    margin-top: 20px;
}
.great-tea-images{
    gap: 30px;
    
}
.great-tea-image{
    width: 100%;
    height: 340px;
    padding: 30px 20px;
    border-radius: 10px;
}
.great-tea-1{
    background-color: #eef1eb;
}
.great-tea-2{
    background-color: #fcf6e9;
}
.great-tea-image img{
    width: 100%;
    height: 100%;
}
.great-tea-content{
    max-width: 580px;
}
.great-tea-content .title{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}
.great-tea-content .sub-title{
    font-size: 20px;
    font-weight: 800;
    margin: 15px 0px;
}
.great-tea-content .description{
    color: var(--dark-1);
}

/* responsive styles for mobile device */
@media screen and (max-width:576px) {

/* hero image section styles start here */
.hero-section{
    margin: 20px;
    flex-direction: column;
} 
.hero-content .title{
    font-size: 44px;
    font-weight: 900;
}
.hero-card{
    bottom: 10px;
}
/* feature section styles start here */
.feature-section{
    margin: 20px;
}
.feature-content{
    text-align: left;
}
.feature-content .title{
    font-size: 32px;
    font-weight: 900;
}
.feature-cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* great-tea section start here */
.great-tea-section{
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
    gap: 40px;
    align-items: center;
}
    
}

/* responsive styles for medium device */
@media screen and (min-width:577px) and (max-width:992px) {

/* hero image section styles start here */
.hero-section{
    margin: 50px;
    flex-direction: column;
}
/* feature section styles start here */
.feature-section{
    margin: 50px;
}
.feature-content{
    text-align: left;
}
.feature-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
/* great-tea section start here */
.great-tea-section{
    display: flex;
    flex-direction: column-reverse;
    margin: 50px;
    gap: 40px;
    align-items: center;
}
        
}